[ req ]
default_bits = 3072
encrypt_key = yes
distinguished_name = req_dn
x509_extensions = cert_type
prompt = no

[ req_dn ]
# country (2 letter code)
C=US

# State or Province Name (full name)
ST=North Carolina

# Locality Name (eg. city)
L=Raleigh

# Organization (eg. company)
O=Red Hat Training

# Organizational Unit Name (eg. section)
OU=SMTP server

# Common Name (*.example.com is also possible)
CN=smtp.lab.example.com

# E-mail contact
emailAddress=postmaster@lab.example.com

[ cert_type ]
nsCertType = server
